body {
    background-color: #edf1f1;
    margin-left: 6vh;
    margin-right: 6vh;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Rajdhani', sans-serif;
}

.title {
    font-size: 170px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    line-height: 1;
    
}
.linespacing {
    line-height: .7;
}
.sectionId {
    min-width: 150px;
}
.container {
    margin-top: 10vh;
    margin-left: 0;
    margin-right: 0;
    display: flex;
}
ul {
    list-style-type: none;
    margin-top: -15px;
    margin-left: -45px;
}
.section-container {
    /* margin-top: vh; */
    margin-left: 0;
    margin-right: 0;
    display: flex;
}
.row {
    
    margin-left: -3px;
    margin-right: -3px;
    margin-top: 5px;
}

h1 {
    font-size: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Rajdhani', sans-serif;
}
h3 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Rajdhani', sans-serif;
}
p {
    margin-bottom: 0px;
}

.card {
    /* justify-content: center; */
    align-items: center;
    height: 120px;
    width: 240px;
    border-radius: 140px 140px 0 0;
    -moz-border-radius: 140px 140px 0 0;
    -webkit-border-radius: 140px 140px 0 0;
    background-color: #253243;
    overflow: hidden;
    /* background-color: #4a1052; */
}


.blur {
    filter: blur(3px);
}
.blur1 {
    filter: blur(1px);
}
.title_containter{
    display: flex;
}
.project-card{
    /* overflow: hidden; */
    width: 340px;
}

.projectTitle {
    max-width: 240px;
    text-align: center;
}
.projectDescription {
    max-width: 240px;
    max-height: 300px;
    /* text-align: center; */
}

.col {
    padding-right: 0px;
    padding-left: 0px;
}

#dropdownMenuButton1 {
    margin-bottom: 6vh;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Rajdhani', sans-serif;
}


.logo_container {
    display: flex;
    width: 160px;
    height: 120px;
    border-radius: 60px 0 60px 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-shadow: 5px -5px 5px #253243;
    margin-left: 30px;
}

.logo {
    
    min-width: 280px;
    min-height: auto;
}

.project_images_container {
    
    max-width: 245px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.project_images {
    width: 270px;
}

.biocard {
    align-items: center;
    height: 420px;
    border-radius: 120px 0 0 120px;
    -moz-border-radius: 120px 0 0 120px;
    -webkit-border-radius: 120px 0 0 120px;
    background-color: #253243;
    overflow: hidden;
    margin-right: 3vh;
}
.personal_image {
    max-height: 387px;
    
}
.name_image {
    margin-top: -18px;
}
.tab {
    padding-left: 6px;
}